<div class="no-data-found">
    <div class="no-data-icon">
        <span class="material-icons">{{ icon }}</span>
    </div>
    <h3 class="no-data-title">{{ title }}</h3>
    <p class="no-data-message">{{ message }}</p>
    <button 
        *ngIf="showAction" 
        type="button" 
        class="no-data-action-button"
        (click)="onActionClick.emit()">
        <span class="material-icons" *ngIf="actionIcon">{{ actionIcon }}</span>
        <span>{{ actionLabel }}</span>
    </button>
</div>
