<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="members">
            <ion-icon aria-hidden="true" name="people"></ion-icon>
            <ion-label>Members</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="reminders">
            <ion-icon aria-hidden="true" name="notifications"></ion-icon>
            <ion-label>Reminders</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="backup">
            <ion-icon aria-hidden="true" name="card"></ion-icon>
            <ion-label>Payments</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon aria-hidden="true" name="person-circle"></ion-icon>
            <ion-label>Account</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>