.app-snackbar {
    position: fixed;
    left: 16px;
    right: 16px;
    top: 16px;
    padding: 16px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0 2px 10px rgb(0 0 0 / 16%);
    z-index: 9999;

    &.success {
        background: var(--color-success-700);
        color: var(--color-neutral-25);
    }

    &.warning {
        background: var(--color-primary-600);
        color: var(--color-neutral-25);
    }

    &.danger {
        background: var(--color-error-700);
        color: var(--color-neutral-25);
    }

    &.info {
        background: var(--color-neutral-25);
        color: var(--color-neutral-700);
    }
}